#**Final Project Visualisasi Data - Kurs Mata Uang 5 Negara Terhadap US Dollar**

Nama Anggota :
1. Diva Annisa Febecca (1301204302)
2. Afkar Arthagesang Pradestoan (1301200131)

**Import Library**

In [1]:
import pandas as pd
import numpy as np

# Bokeh Libraries
from datetime import date
from bokeh.io import curdoc
from bokeh.models import HoverTool
from bokeh.models.widgets import Tabs, Panel
from bokeh.layouts import column, row, layout
from bokeh.models.widgets import DateRangeSlider
from bokeh.io import output_file, output_notebook
from bokeh.models import ColumnDataSource, Legend
from bokeh.plotting import figure, show, reset_output

**Resource**

In [2]:
!wget 'https://drive.google.com/uc?export=download&id=1-McuXVysoT1TEu3L8nybtZw7TxjhACpa' -O kurs.csv

--2023-06-12 14:32:12--  https://drive.google.com/uc?export=download&id=1-McuXVysoT1TEu3L8nybtZw7TxjhACpa
Resolving drive.google.com (drive.google.com)... 108.177.125.113, 108.177.125.101, 108.177.125.102, ...
Connecting to drive.google.com (drive.google.com)|108.177.125.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-14-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/1fk6ku52vsol647555r1ibrlcubge080/1686580275000/00150260977202157621/*/1-McuXVysoT1TEu3L8nybtZw7TxjhACpa?e=download&uuid=9e6badc3-6f7c-4c86-befb-4430ecf6b395 [following]
Warning: wildcards not supported in HTTP.
--2023-06-12 14:32:13--  https://doc-10-14-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/1fk6ku52vsol647555r1ibrlcubge080/1686580275000/00150260977202157621/*/1-McuXVysoT1TEu3L8nybtZw7TxjhACpa?e=download&uuid=9e6badc3-6f7c-4c86-befb-4430ecf6b395
Resolving doc-10-14-docs.googleusercontent.com (doc-10-14-docs.googleusercontent.com)... 74.125.204.132, 2404:6800:4008:c04::84
Connecting to doc-10-14-docs.googleusercontent.com (doc-10-14-docs.googleusercontent.com)|74.125.204.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1785624 (1.7M) [text/csv]
Saving to: ‘kurs.csv’

kurs.csv            100%[===================>]   1.70M  --.-KB/s    in 0.01s

2023-06-12 14:32:13 (135 MB/s) - ‘kurs.csv’ saved [1785624/1785624]

In [3]:
df = pd.read_csv("kurs.csv", parse_dates = ["Date"])
df.tail(5)

,Date,Algerian Dinar,Australian Dollar,Bahrain Dinar,Bolivar Fuerte,Botswana Pula,Brazilian Real,Brunei Dollar,Canadian Dollar,Chilean Peso,...,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,U.K. Pound Sterling,U.S. Dollar
5973,2018-04-26,114.8506,0.7574,0.376,66770.1562,0.1023,3.4971,1.3274,1.2862,603.31,...,12.40640,157.4628,8.5481,0.9835,31.595,6.7842,2.42955,3.6725,1.39655,1.0
5974,2018-04-27,115.0604,0.7545,0.376,66770.1562,0.1020,3.4670,1.3269,NaN,603.31,...,NaN,157.6459,8.6911,0.9907,31.617,6.7572,2.43120,3.6725,1.37685,1.0
5975,2018-04-30,114.8873,0.7570,0.376,68827.5000,0.1023,3.4805,1.3238,1.2836,605.74,...,12.43145,157.6459,8.6774,0.9894,31.510,6.7393,2.43190,3.6725,1.37250,1.0
5976,2018-05-01,NaN,0.7540,0.376,NaN,NaN,NaN,NaN,NaN,610.98,...,NaN,157.4737,NaN,NaN,NaN,6.7385,NaN,3.6725,1.36945,1.0
5977,2018-05-02,NaN,NaN,0.376,NaN,NaN,NaN,NaN,NaN,NaN,...,12.61265,NaN,NaN,NaN,NaN,NaN,NaN,3.6725,1.36535,1.0

In [4]:
df_1 = pd.read_csv("kurs.csv", parse_dates = ["Date"], usecols=['Date', 'Indonesian Rupiah', 'U.S. Dollar'])
df_2 = pd.read_csv("kurs.csv", parse_dates = ["Date"], usecols=['Date', 'Thai Baht', 'U.S. Dollar'])
df_3 = pd.read_csv("kurs.csv", parse_dates = ["Date"], usecols=['Date', 'South African Rand', 'U.S. Dollar'])
df_4 = pd.read_csv("kurs.csv", parse_dates = ["Date"], usecols=['Date', 'Euro', 'U.S. Dollar'])
df_5 = pd.read_csv("kurs.csv", parse_dates = ["Date"], usecols=['Date', 'Japanese Yen', 'U.S. Dollar'])

df_1.rename(columns={'Indonesian Rupiah':'Rupiah'}, inplace=True)
df_2.rename(columns={'Thai Baht':'Baht'}, inplace=True)
df_3.rename(columns={'South African Rand':'Rand'}, inplace=True)
df_5.rename(columns={'Japanese Yen':'Yen'}, inplace=True)

df_1['Date'] = pd.to_datetime(df_1['Date'])
df_2['Date'] = pd.to_datetime(df_2['Date'])
df_3['Date'] = pd.to_datetime(df_3['Date'])
df_4['Date'] = pd.to_datetime(df_4['Date'])
df_5['Date'] = pd.to_datetime(df_5['Date'])

In [5]:
start_date = '01-01-2015'
end_date = '01-01-2018'

In [6]:
mask = (df_1['Date'] > start_date) & (df_1['Date'] <= end_date)

df1 = df_1.loc[mask]
df1.reset_index(drop=True, inplace=True)

df2 = df_2.loc[mask]
df2.reset_index(drop=True, inplace=True)

df3 = df_3.loc[mask]
df3.reset_index(drop=True, inplace=True)

df4 = df_4.loc[mask]
df4.reset_index(drop=True, inplace=True)

df5 = df_5.loc[mask]
df5.reset_index(drop=True, inplace=True)

In [7]:
dfn_1 = df1.dropna()
dfn_2 = df2.dropna()
dfn_3 = df3.dropna()
dfn_4 = df4.dropna()
dfn_5 = df5.dropna()

In [8]:
cds_rupiah = ColumnDataSource(dfn_1)
cds_baht = ColumnDataSource(dfn_2)
cds_rand = ColumnDataSource(dfn_3)
cds_euro = ColumnDataSource(dfn_4)
cds_yen = ColumnDataSource(dfn_5)

**Figure Rupiah**

In [9]:
# Create a figure to display Rupiah Data
fig_rupiah = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='Rupiah',
    title='Rupiah Currency Value U.S Dollar Exchange Rate',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

#  To display the rupiah line plot
z = fig_rupiah.line(
    x='Date',
    y='Rupiah',
    source=cds_rupiah,
    color='red',
    legend_label='Indonesian Rupiah'
)

# Bokeh Library
tooltips = [('Rupiah','@Rupiah')]

# Added HoverTool to create fig
fig_rupiah.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

# Rupiah Date Slider
rupiah_date_slider = DateRangeSlider(value=(min(df1['Date']), max(df1['Date'])),
                                    start=min(df1['Date']), end=max(df1['Date']))

rupiah_date_slider.js_link("value", fig_rupiah.x_range, "start", attr_selector=0)
rupiah_date_slider.js_link("value", fig_rupiah.x_range, "end", attr_selector=1)

**Figure Baht**

In [10]:
# Create a figure to display Baht Data
fig_baht = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='Baht',
    title='Baht Currency Value U.S Dollar Exchange Rate',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

#  To display the baht line plot
z = fig_baht.line(
    x='Date',
    y='Baht',
    source=cds_baht,
    color='blue',
    legend_label='Thailand Baht'
)

# Bokeh Library
tooltips = [('Baht','@Baht')]

# Added HoverTool to create fig
fig_baht.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

# Baht Date Slider
baht_date_slider = DateRangeSlider(value=(min(df2['Date']), max(df2['Date'])),
                                    start=min(df2['Date']), end=max(df2['Date']))

baht_date_slider.js_link("value", fig_baht.x_range, "start", attr_selector=0)
baht_date_slider.js_link("value", fig_baht.x_range, "end", attr_selector=1)

**Figure Rand**

In [11]:
# Create a figure to display Rand Data
fig_rand = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='Rand',
    title='Rand Currency Value U.S Dollar Exchange Rate',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

#  To display the rand line plot
z = fig_rand.line(
    x='Date',
    y='Rand',
    source=cds_rand,
    color='green',
    legend_label='South African Rand'
)

# Bokeh Library
tooltips = [('Rand','@Rand')]

# Added HoverTool to create fig
fig_rand.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

# Rand Date Slider
rand_date_slider = DateRangeSlider(value=(min(df3['Date']), max(df3['Date'])),
                                    start=min(df3['Date']), end=max(df3['Date']))

rand_date_slider.js_link("value", fig_rand.x_range, "start", attr_selector=0)
rand_date_slider.js_link("value", fig_rand.x_range, "end", attr_selector=1)

**Figure Euro**

In [12]:
# Create a figure to display Euro Data
fig_euro = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='Euro',
    title='Euro Currency Value U.S Dollar Exchange Rate',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

# To display the euro line plot
zip = fig_euro.line(
    x='Date',
    y='Euro',
    source=cds_euro,
    color='orange',
    legend_label='Euro'
)

# Bokeh Library
tooltips = [('Euro','@Euro')]

# Added HoverTool to create fig
fig_euro.add_tools(HoverTool(tooltips=tooltips, mode='vline'))

# Euro Date Slider
euro_date_slider = DateRangeSlider(value=(min(df4['Date']), max(df4['Date'])),
                                    start=min(df4['Date']), end=max(df4['Date']))

euro_date_slider.js_link("value", fig_euro.x_range, "start", attr_selector=0)
euro_date_slider.js_link("value", fig_euro.x_range, "end", attr_selector=1)

**Figure Yen**

In [13]:
# Create a figure to display Yen Data
fig_yen = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='Yen',
    title='Yen Currency Value U.S Dollar Exchange Rate',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

# To display the yen line plot
z = fig_yen.line(
    x='Date',
    y='Yen',
    source=cds_yen,
    color='purple',
    legend_label='Japanese Yen'
)

# Bokeh Library
tooltips = [('Yen','@Yen')]

# Added HoverTool to create fig
fig_yen.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

# Yen Date Slider
yen_date_slider = DateRangeSlider(value=(min(df5['Date']), max(df5['Date'])),
                                    start=min(df5['Date']), end=max(df5['Date']))

yen_date_slider.js_link("value", fig_yen.x_range, "start", attr_selector=0)
yen_date_slider.js_link("value", fig_yen.x_range, "end", attr_selector=1)

In [14]:
# Outputs to HTML Plots
output_file('Kelompok Afkar & Diva.html', title='Currency Exchange Rates of Five Countries Against the US Dollar')

rupiah_tools = column(rupiah_date_slider)
baht_tools = column(baht_date_slider)
rand_tools = column(rand_date_slider)
euro_tools = column(euro_date_slider)
yen_tools = column(yen_date_slider)

rupiah_layout = row([fig_rupiah, rupiah_tools])
baht_layout = row([fig_baht, baht_tools])
rand_layout = row([fig_rand, rand_tools])
euro_layout = row([fig_euro, euro_tools])
yen_layout = row([fig_yen, yen_tools])

# Create five panels namely Rupiah, Baht, Real, Euro, Yen
rupiah_tab = Panel(child=rupiah_layout, title='Rupiah')
baht_tab = Panel(child=baht_layout, title='Baht')
rand_tab = Panel(child=rand_layout, title='Rand')
euro_tab = Panel(child=euro_layout, title='Euro')
yen_tab = Panel(child=yen_layout, title='Yen')

tabs = Tabs(tabs=[rupiah_tab, baht_tab, rand_tab, euro_tab, yen_tab])

show(tabs)